<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" asp-href-include="bootstrap/dist/**/*.min.css"/>
    </head>
    <body class="m-1 p-1">
        @RenderBody()
    </body>
</html>